#dunno {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:(50%, 50%);
    color: black;
    font-size: 35px;
    border-radius: 32%;
    background-color: mediumaquamarine;
}

html {
    background-color: darkgrey;
    background-size: cover;
}